/* Style for QLabel */

*{
    background-color: white;
}
QLabel#image_label {
  /* border: 3px dashed rgb(67, 173, 219); */
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

QLabel#percentage_label{
    background-color: transparent;
    border: none;
  font-weight: bold;

}

QLabel#reconstructed_label,#image_label{
    font-size: 15px;
    color: #2196f3;
}

/* Style for QComboBox */




QFrame#right_frame,
#left_frame,
#middle_frame {
  border: 1px solid rgb(67, 173, 219);
  border-radius: 10px;
  background-color: rgb(223, 227, 229);
}

QFrame#H_frame_1,#H_frame_2{
    border: 1px solid rgb(67, 173, 219);
    border-radius: 10px;
    background-color: rgb(223, 227, 229);

}

QFrame#label_frame{
    border-radius: 10px;
    background-color: rgb(223, 227, 229);
    padding-top: 5px;
    padding-bottom: 5px;
}

QFrame#H_radio_frame {
  border: 1px solid rgb(67, 173, 219);
  border-radius: 10px;
  background-color: rgb(223, 227, 229);
  padding-top: 5px;
  padding-bottom: 5px;
}

QRadioButton {
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
}

QFrame#control_frame,#modes_frame {
  border: 1px solid rgb(67, 173, 219);
  border-radius: 10px;
  background-color: rgb(223, 227, 229);
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Style for QPushButton */
QPushButton {
  background-color: rgb(4, 147, 208);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

QLabel#image_title{
    font-size: 20px;
    font-weight: bold;
    color: #2196f3;
    background-color: transparent;
}


QSlider{
    background-color: transparent;
}

QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 10px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B1B1B1, stop:1 #c4c4c4);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b5b5b5, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0;
    border-radius: 3px;
}

QSlider::sub-page:horizontal {
    background: #4f83c3;
}


QComboBox {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 9px;
  font-size: 12px;
  height: 20px;
  font-weight: bold;
}
QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 25px;
  border-left-width: 1px;
  border-left-color: darkgray;
  border-left-style: solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #2196f3;
  padding: 5px;
}
QComboBox::down-arrow {
  image: url(./icons/arrow_down.png);
  /* make image fitting */
  width: 15px;
  height: 15px;
}
QComboBox QAbstractItemView{
    selection-background-color: #2196f3;
    font-size: 12px;
  }
